<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:30</td>  <td>Introduction</td> </tr>
      <tr> <td>08:45</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/01-run-quit.html">The Python Work Environment</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/02-variables.html">Variables and Assignment</a> </td> </tr>
      <tr> <td>09:20</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/03-types-conversion.html">Data Types and Type Conversion</a> </td> </tr>
      <tr> <td>09:40</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/04-built-in.html">Built-in Functions and Help</a> </td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/11-lists.html">Lists</a> </td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/06-libraries.html/">Python Libraries</a> </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular.html">Reading Tabular Data</a> </td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/08-data-frames.html">Pandas</a> </td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/">Tabular Data and Vizualizations - matplotlib</a> </td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><a href="https://swcarpentry.github.io/shell-novice/01-intro.html">Shell: Introduction</a></td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/02-filedir.html">Shell: Navigation Files & Directories</a> </td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/07-find.html">Shell: Finding Things</a> </td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Intro to GIT (Lessons 1-6)</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/12-for-loops.html">For Loops</a></td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/13-conditionals.html">Conditionals </a></td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/14-looping-data-sets.html">Looping over datasets</a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/16-writing-functions.html">Writing Functions</a></td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/17-scope.html">Variable Scope</a></td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/18-style.html">Programming Style</a></td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
